@font-face{
    font-family: 'rajdani';
    src: url('../assets/police/Rajdani/Rajdhani-Bold.ttf');
}

@font-face {
    font-family: 'rajdani';
    src: url('../assets/police/Rajdani/Rajdhani-Light.ttf');
}
@font-face {
    font-family: 'rajdani';
    src: url('../assets/police/Rajdani/Rajdhani-Medium.ttf');
}
@font-face {
    font-family: 'rajdani';
    src: url('../assets/police/Rajdani/Rajdhani-Regular.ttf');
}
@font-face {
    font-family: 'rajdani';
    src: url('../assets/police/Rajdani/Rajdhani-SemiBold.ttf');
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('../assets/police/Space_Grotesk/SpaceGrotesk-Bold.ttf');
}
@font-face {
    font-family: 'Space Grotesk';
    src: url('../assets/police/Space_Grotesk/SpaceGrotesk-Light.ttf');
}
@font-face {
    font-family: 'Space Grotesk';
    src: url('../assets/police/Space_Grotesk/SpaceGrotesk-Medium.ttf');
}
@font-face {
    font-family: 'Space Grotesk';
    src: url('../assets/police/Space_Grotesk/SpaceGrotesk-Regular.ttf');
}
@font-face {
    font-family: 'Space Grotesk';
    src: url('../assets/police/Space_Grotesk/SpaceGrotesk-SemiBold.ttf');
}

